<!-- BEGIN #header -->
<div id="header" class="app-header">
    <!-- BEGIN desktop-toggler -->
    <!-- BEGIN desktop-toggler -->
    <div class="desktop-toggler">
        <button type="button" class="menu-toggler" data-toggle-class="app-sidebar-collapsed" data-dismiss-class="app-sidebar-toggled" data-toggle-target=".app">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </button>
    </div>
    <!-- END desktop-toggler -->
    <!-- END desktop-toggler -->
    <!-- BEGIN mobile-toggler -->
    <!-- BEGIN mobile-toggler -->
    <div class="mobile-toggler">
        <button type="button" class="menu-toggler" data-toggle-class="app-sidebar-mobile-toggled" data-toggle-target=".app">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </button>
    </div>
    <!-- END mobile-toggler -->
    <!-- END mobile-toggler -->
    <!-- BEGIN header brand -->
    <!-- BEGIN brand -->
    <div class="brand">
        <a href="index.html" class="brand-logo">
            <span class="brand-img">
                <span class="brand-img-text text-theme">L</span>
            </span>
            <span class="brand-text">LAMASTE</span>
        </a>
    </div>
    <!-- END brand -->
    <!-- END the header brand -->
    <!-- BEGIN menu -->
    <!-- BEGIN menu -->
    <div class="menu">
        <div class="menu-item dropdown dropdown-mobile-full">
            <a href="#" data-bs-toggle="dropdown" data-bs-display="static" class="menu-link">
                <div class="menu-img online">
                    <img src="assets/img/user/profile.jpg" alt="Profile" height="60">
                </div>
                <div class="menu-text d-sm-block d-none w-170px">Llama's Extraordinairé</div>
            </a>
            <div class="dropdown-menu dropdown-menu-end me-lg-3 fs-11px mt-1">
                <a class="dropdown-item d-flex align-items-center" href="#">Profile<i class="bi bi-person-circle ms-auto text-theme fs-16px my-n1"></i>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">Contact<i class="bi bi-person-circle ms-auto text-theme fs-16px my-n1"></i>
                </a>
            </div>
        </div>
    </div>
    <!-- END menu -->
    <!-- END menu -->
    <!-- BEGIN the top navigation -->
    <!-- BEGIN #top-nav -->
    <div id="top-nav" class="app-top-nav">
        <!-- BEGIN menu -->
        <div class="menu">
            <div class="menu-item">
                <a href="index.html" class="menu-link">
                    <span class="menu-icon">
                        <i class="bi bi-bookmark"></i>
                    </span>
                    <span class="menu-text">Home</span>
                </a>
            </div>
            <div class="menu-item">
                <a href="index.html" class="menu-link">
                    <span class="menu-icon">
                        <i class="fa-regular fa-trash-can"></i>
                    </span>
                    <span class="menu-text">Bounty Extravaganza</span>
                </a>
            </div>
            <div class="menu-item">
                <a href="/bugsplaining.html" class="menu-link">
                    <span class="menu-icon">
                        <i class="bi bi-bug"></i>
                    </span>
                    <span class="menu-text">Bugsplaining</span>
                </a>
            </div>
            <div class="menu-item">
                <a href="#" class="menu-link">
                    <span class="menu-icon">
                        <i class="bi bi-gem"></i>
                    </span>
                    <span class="menu-text">Templates</span>
                </a>
            </div>
            <div class="menu-item menu-control menu-control-start">
                <a href="javascript:;" class="menu-link" data-toggle="app-top-menu-prev">
                    <i class="bi bi-caret-left"></i>
                </a>
            </div>
            <div class="menu-item menu-control menu-control-end">
                <a href="javascript:;" class="menu-link" data-toggle="app-top-menu-next">
                    <i class="bi bi-caret-right"></i>
                </a>
            </div>
            <div class="p-3 px-4 mt-auto">
                <a href="https://github.com/ihaveyourllama" class="btn d-block btn-outline-theme">
                    <i class="fa fa-code-branch me-2 ms-n2 opacity-5"></i> Repository </a>
            </div>
        </div>
        <!-- END menu -->
    </div>
    <!-- END #top-nav -->
    <!-- END the top navigation -->
</div>
<!-- END #header -->