<!-- BEGIN #top-nav -->
<div id="top-nav" class="app-top-nav">
    <!-- BEGIN menu -->
    <div class="menu">
        <div class="menu-item">
            <a href="index.html" class="menu-link">
                <span class="menu-icon">
                    <i class="bi bi-bookmark"></i>
                </span>
                <span class="menu-text">Home</span>
            </a>
        </div>
        <div class="menu-item">
            <a href="index.html" class="menu-link">
                <span class="menu-icon">
                    <i class="fa-regular fa-trash-can"></i>
                </span>
                <span class="menu-text">Bounty Extravaganza</span>
            </a>
        </div>
        <div class="menu-item">
            <a href="/bugsplaining.html" class="menu-link">
                <span class="menu-icon">
                    <i class="bi bi-bug"></i>
                </span>
                <span class="menu-text">Bugsplaining</span>
            </a>
        </div>
        <div class="menu-item">
            <a href="#" class="menu-link">
                <span class="menu-icon">
                    <i class="bi bi-gem"></i>
                </span>
                <span class="menu-text">Templates</span>
            </a>
        </div>
        <div class="menu-item menu-control menu-control-start">
            <a href="javascript:;" class="menu-link" data-toggle="app-top-menu-prev">
                <i class="bi bi-caret-left"></i>
            </a>
        </div>
        <div class="menu-item menu-control menu-control-end">
            <a href="javascript:;" class="menu-link" data-toggle="app-top-menu-next">
                <i class="bi bi-caret-right"></i>
            </a>
        </div>
        <div class="p-3 px-4 mt-auto">
            <a href="https://github.com/ihaveyourllama" class="btn d-block btn-outline-theme">
                <i class="fa fa-code-branch me-2 ms-n2 opacity-5"></i> Repository </a>
        </div>
    </div>
    <!-- END menu -->
</div>
<!-- END #top-nav -->