<!-- BEGIN profile -->
<div class="profile">
    <!-- BEGIN profile-container -->
    <div class="profile-container">
        <!-- BEGIN profile-sidebar -->
        <div class="profile-sidebar">
            <div class="desktop-sticky-top">
                <div class="profile-img">
                    <img src="assets/img/user/profile.jpg" alt="I have your llama">
                </div>
                <!-- profile info -->
                <h4>I Have Your L'lama</h4>
                <div class="mb-3 text-inverse text-opacity-50 fw-bold mt-n2">@ihaveyourllama</div>
                <p>Welcome to the flamboyant nook of the internet. I am your host, the mischievous prankster and delightfully witty Llama. </p>
                <p>This masterpiece is the digital scrapbook of your escapades in the exhilarating world of Bug Bounty hunting, and the chronicles of my ethical (and occasionally, not-so-ethical) presumptuous contemplations, sprinkled with a fair dose of snarkiness and light touch of criticism.</p>
                <div class="mb-1">
                    <p>Yours Truly,</p>
                    <p>🦙 Drama L'lama</p>
                </div>
            </div>
        </div>
        <!-- END profile-sidebar -->
    </div>
    <!-- END profile-container -->
</div>
<!-- END profile -->